body {
  margin: 0;
  font-family: sans-serif;
  direction: rtl;
  background: #000;
  color: #fff;
}

/* هدر */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(12px);
  padding: 12px 40px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 22px;
  font-weight: bold;
  color: #00ff66;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.nav-menu a {
  color: #d0d0d0;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.nav-menu a:hover {
  color: #ffffff;
}

.join-btn {
  background: #00ff55;
  padding: 10px 22px;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  transition: 0.3s;
}

.join-btn:hover {
  background: #00cc44;
}

/* صفحه اصلی */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(#000000aa, #000000aa),
              url('https://picsum.photos/1200/800');
  background-size: cover;
}

.title {
  font-size: 60px;
  font-weight: bold;
}

.subtitle {
  font-size: 22px;
  margin-top: 10px;
  color: #00ff66;
}

/* بخش‌ها */
.section {
  padding: 80px 40px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
  background: #000;
}
