/* تنظیمات پایه */
body {
  margin: 0;
  font-family: sans-serif;
  direction: rtl;
  background: #050608;
  color: #fff;
}

/* هدر */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(14px);
  padding: 12px 40px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 22px;
  font-weight: bold;
  color: #00ff66;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-menu a {
  color: #d0d0d0;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.nav-menu a:hover {
  color: #ffffff;
}

/* دکمه عضویت */
.join-btn {
  background: #00ff55;
  padding: 9px 20px;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: 0.3s;
  margin-left: 65px;
}

.join-btn:hover {
  background: #00cc44;
}

/* صفحه اصلی */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.95)),
    url("bg-elits.png") center/cover no-repeat;

  padding-top: 60px;
}

/* لوگوی وسط صفحه */
.logo-box {
  width: 120px;
  height: 120px;
  background: #0a0d12;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;

  box-shadow:
    0 0 12px rgba(0, 255, 102, 0.4),
    0 0 25px rgba(0, 255, 102, 0.25),
    0 0 45px rgba(0, 255, 102, 0.15);
}

.logo-e {
  font-size: 64px;
  font-weight: bold;
  color: #00ff66;
  text-shadow:
    0 0 8px rgba(0, 255, 102, 0.8),
    0 0 16px rgba(0, 255, 102, 0.6);
}

.title {
  font-size: 56px;
  font-weight: 800;
}

.subtitle {
  font-size: 20px;
  margin-top: 10px;
  color: #00ff66;
}
